body {
    background-image: url(../static/gifsbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-size: 80px;
    color: white;
}

.gifbow-text {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    /* text-align: center; */
}

/* ul {
    text-align: center;
} */
