body {
    background-image: url(../static/gifsbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-size: 80px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.gifbow-text {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
}

.wrong {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.submitBtn {
    color: white;
    background-color: darkorchid;
    border-style: none;
}

.searchBar {
    width: 20%;
    height: 3%;
    color: orange;
    border-style: none;
}

ul {
    object-fit: contain;
}

