body {
    background-image: url(c7a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}


.submitBtn {
    color: white;
    background-color: darkorchid;
    border-style: none;
  }

.searchBar {
    width: 20%;
    height: 20%;
    color: orange;
    border-style: none;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  }