<head>
    <title>GIF Search Results</title>
    <link rel="stylesheet" href="../static/gifs.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
{% block content %}
    {% if gifs %}
        <h1 class="gifbow-text">
            These gifs though:
        </h1>
        <div class=form>
            <form name="search" action='/test_html' method="get">
                <input class="searchBar" type="text" placeholder="Search.." name="search">
                    <button class="submitBtn" type="submit" value="Search">Search</button>
            </form>
        </div>
        <ul>
            {% for gif in gifs %}
                <img src="{{ gif }}">
                <br>

                </br>
            {% endfor %}
        </ul>
    {% else %}
        <h1 class="wrong">
        Error, try something else
        </h1>
        
    {% endif %}

{% endblock %}
